.data-sheet
{
	
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;

	.data-item
	{

		flex:1;
		flex-basis:30%;
		padding: 0.5rem 0.5rem;
		border-left: solid 3px #3b3d546b;
		min-width: 150px;

	}

}